.searchBar__container {
  
}

.search__form {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.search__form-label,
.search__form-input {
  font-size: 1.2rem;
}

.search__form-input {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
}