body {
    background-color: rgb(246, 228, 228);
}

h1 {
    text-align: center;
    font-size: 4em;
    color: #0f0e0e;
}

.square {
    text-align: center;
    font-size: 110px;
    height: 150px;
    width: 33%;

    background-color: rgb(246, 228, 228);
}


.one,
.four {
    border-right: 2px solid black;
    border-bottom: 2px solid black;

}

.two,
.five {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.three,
.six {
    border-bottom: 2px solid black;
}

.seven,
.eight {
    border-right: 2px solid black;
}


.board {
    width: 100%;
}

.row {
    display: flex;
}

.hidden {
    /* opacity: 0; */
    display: block;
}

.start,
.reset {
    size: 20px;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.illegal,
.xwins,
.owins {
    color: #c89797;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 13px;
    display: flex;
    justify-content: center;

}

.score {
    display: flex;
    justify-content: center;
}

.board {
    max-width: 60%;
    max-height: 60%;
    margin-left: 20%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 30px;
}