body {
    background-color: rgb(246, 228, 228);
}

h1 {
    text-align: center;
    font-size: 4em;
    color: #0f0e0e;
    margin-bottom: 1%
}

.score {
    margin-bottom: 7%;
    display: block;
}

.square {
    text-align: center;
    font-size: 110px;
    height: 150px;
    width: 33%;
    background-color: rgb(246, 228, 228);
}


.one,
.two,
.three {
    margin-top: 5%;
}

.one,
.four {
    border-right: 2px solid black;
    border-bottom: 2px solid black;

}

.two,
.five {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.three,
.six {
    border-bottom: 2px solid black;
}

.seven,
.eight {
    border-right: 2px solid black;
}


.row {
    display: flex;
}

.hidden {
    /* opacity: 0; */
    display: block;
}

.player {
    opacity: 0;
}

.start,
.reset {
    size: 20px;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.illegal,
.xwins,
.owins {
    color: #c89797;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 13px;
    display: flex;
    justify-content: center;

}

.score {
    display: flex;
    justify-content: center;
}


.board {
    max-width: 60%;
    max-height: 60%;
    margin-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 30px;
}

button {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.footer-text {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #d7eaef;
    width: 100%;
    height: 25px;
    margin-top: 20px;
}