@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.app__container {
  height: 100vh;
}

.title {
  margin: 0 0 -1rem .5rem;
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 0.75rem;
  font-size: 3rem;
}

.app__container-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.col__right {
  margin-right: 2rem;
}