<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Household is rendering</h1>
    <a href="http://localhost:3000/home"> HOME</a>
    <a href="http://localhost:3000/college"> College</a>
    <a href="http://localhost:3000/deals"> Deals</a>
    <a href="http://localhost:3000/groceries"> Groceries</a>
    <a href="http://localhost:3000/health"> Health</a>
    <a href="http://localhost:3000/household"> Household</a>
    <a href="http://localhost:3000/orders"> Orders</a>
    <a href="http://localhost:3000/returns"> Returns</a>
    <a href="http://localhost:3000/account"> Account</a>
    <a href="http://localhost:3000/cart"> CART </a>
</body>

</html>