/* RESET DEFAULT */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

img {
    display: block;
    width: 100%;
}

/* App */
.app {
    display: flex;
    min-height: 100vh;
    max-width: 1500px;
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
}

.app-wrapper {
    width: 100%;
    background-color: #404040;
}

/* NAVIGATION */

.nav {
    width: 20%;
    border-radius: 10px;
    background-color: #121617;
    min-width: 200px;
}


.nav-item {
    margin: 20px auto;
    width: 90%;
    text-align: center;
    font-size: 1rem;
    padding: 15px 10px;
    border-radius: 4px;
    color: #ffffff;
    text-transform: capitalize;
    background-color: #fc7145;
    font-weight: 600;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #f85018;
}

/* MAIN */

.main {
    width: 80%;
    background-color: #121617;
    border-radius: 10px;
    padding: 15px 15px;
    overflow: hidden;
}

.menu-title {
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
}

.menu-items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.menu-item {
    background-color: #535353;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
}

/*TODO: !!!!!!!!!!!!!!!!!!!!*/

.menu-item__image {
    height: 200px;
}

.menu-item__image>img {
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.menu-item__name {
    font-size: 1.1rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
}

.menu-item__type {
    font-size: 0.9rem;
    text-align: center;
}

.menu-item__sub-info {
    display: flex;
    justify-content: space-between;
    color: #fc7145;
    font-weight: 500;
    padding: 5px;
}

.menu-item__order {
    color: #ffffff;
    background-color: #fc7145;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1.1rem;
}

.menu-item:hover {
    cursor: pointer;
}