.app .count {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  margin-left: 10rem;
}

.app .count h3 {
  line-height: 8.6rem;
  margin-right: 1rem;
}

.app .count h1 {
  font-size: 5em;
  margin-top: 2rem;
}

.app .buttons {
  margin-left: 6rem;
  margin-bottom: 6rem;
  display: flex;
}

.app .buttons .minus button {
  background-color: rgb(230, 73, 73);
}

.app .buttons button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  margin: 1rem;
  font-size: 5em;
  box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(10, 14, 29, .08);
  background-color: rgb(157, 243, 136);
  cursor: pointer;
}

.app .buttons button:hover {
  font-size: 4em;
}

.app .buttons button:focus {
  outline: 0;
}