body {
    /* background-color: rgb(237, 236, 212); */
    background-image: url("https://www.wallpapers.net/web/wallpapers/spot-light-background-hd-wallpaper/thumbnail/md.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.main-container {
    display: flex;
    width: 100%;
}

.movie-box {
    margin: 10%;
}

.movie-image {
    /* border: 3px solid rgb(215, 29, 29); */
    margin: 12% 0 0 6%;
    height: 70vh;
}

.image-small {
    visibility: hidden;
    display: none;

}

.image-mid {
    visibility: hidden;
    display: none;

}

.image-lg {
    visibility: visible;
    /* height: 70%; */
    object-fit: cover;
}

.info-text-small {
    display: none;
    visibility: hidden;
}

.info-text-mid {
    display: none;
    visibility: hidden;
}

.info-text-lg {
    visibility: visible;
    background-color: rgb(255, 248, 170, 0.5);
    padding: 8px;
}

.headings-container {
    margin: 5px;
}

.heading-small {
    visibility: hidden;
    display: none;
}

.heading-mid {
    visibility: hidden;
    display: none;
}

.heading-lg {
    visibility: visible;
    color: blue;
}

.video-small {
    display: none;
}

.video-mid {
    display: none;
}

.video-lg {
    /* display: flex;
    justify-content: center; */
    margin-top: 6%;
}

.explore-btn-lg {
    margin: 25px;
}

.explore-btn-lg button {
    display: flex;
}


.explore-screen-lg {
    /* border: solid black; */
    height: 10vh;
    margin: 5px;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    background-color: hsl(195, 72%, 79%, 0.4);
    padding: 2em;
    color: rgb(27, 27, 26);
    font-size: 22px;
    display: none;
}

.explore-btn-mid {
    visibility: hidden;
    display: none;
}

.explore-screen-mid {
    visibility: hidden;
    display: none;
}

.explore-btn-small {
    visibility: hidden;
    display: none;
}

.explore-screen-small {
    visibility: hidden;
    display: none;
}

button {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

button:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    button {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}