body {
    /* background-color: rgb(237, 236, 212); */
    background-image: url("https://www.wallpapers.net/web/wallpapers/spot-light-background-hd-wallpaper/thumbnail/md.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.movie-box {
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-image {
    margin-top: 20%;
    height: 60vh;
}


.image-small {
    align-items: center;
    visibility: visible;
    display: flex;
    height: 500px;
}


.image-mid {
    visibility: hidden;
    display: none;
}

.image-lg {
    visibility: hidden;
    display: none;
}

.info-text-small {
    visibility: visible;
    background-color: rgb(255, 248, 170, 0.5);
    padding: 8px;
    display: flex;
    /* text-align: justify;
    align-items: center;
    justify-content: center; */
}

.info-text-mid {
    display: none;
    visibility: hidden;
}

.info-text-lg {
    display: none;
    visibility: hidden;
}

.headings-container {
    margin: 5px;
}

.heading-small {
    visibility: visible;
    color: blue;
    display: block;
    font-family: 'Rubik Distressed', cursive;
}

.heading-mid {
    visibility: hidden;
    display: none;
}

.heading-lg {
    visibility: hidden;
    display: none;
}

.video-small {
    /* margin-top: 6%; */
    display: block;
}

.video-mid {
    display: none;
}

.video-lg {
    display: none;
}

.explore-btn {
    display: flex;
    justify-content: center;
    margin: 30px;
}