.videoList__container {
  padding-bottom: 1rem;
  height: 80vh; 
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.25rem 0.25rem 1rem;
  background-color: var(--color-bg);
  border-radius: 0.5rem;
}